[Desktop Entry]
Version=1.0
Name=Double Commander
Categories=System;FileTools;Utility;Core;GTK;FileManager;
Exec=/home/doomy/Public/doublecmd-gtk2/doublecmd
Icon=doublecmd
Type=Application
Terminal=false
GenericName=File Manager
Comment=Browse the file system
Keywords=file;manager;file-manager;
