/* hide the default "dot" */
.running-dots .app-well-app-running-dot,
.dashtodock .app-well-app-running-dot
{
  width: 0px;
  height: 0px;
}

.app-well-app-running-dot {
  width: 10px;
  height: 3px;
  background-color: #1e1e1e;
  margin-bottom: 2px; }
  

/* Shrink the dash by reducing padding and border radius */
#dashtodockContainer.shrink #dash,
#dashtodockContainer.dashtodock #dash {
    /*border:0px;*/
    /*padding:0px;*/
}

#dashtodockContainer.shrink.left #dash,
#dashtodockContainer.dashtodock.left #dash {
    border-left: 0px;
    /*border-radius: 0px 9px 9px 0px;*/
}

#dashtodockContainer.shrink.right #dash,
#dashtodockContainer.dashtodock.right #dash {
    border-right: 0px;
    /*border-radius: 9px 0px 0px 9px;*/
}

#dashtodockContainer.shrink.top #dash,
#dashtodockContainer.dashtodock.top #dash {
    border-top: 0px;
    /*border-radius: 0px 0px 9px 9px;*/
}

#dashtodockContainer.shrink.bottom #dash,
#dashtodockContainer.dashtodock.bottom #dash {
    border-bottom: 0px;
    /*border-radius: 9px 9px 0px 0px;*/
}

/* Scrollview style */
.bottom #dashtodockDashScrollview,
.top #dashtodockDashScrollview {
    -st-hfade-offset: 24px;
}

.left #dashtodockDashScrollview,
.right #dashtodockDashScrollview {
    -st-vfade-offset: 24px;
}

#dashtodockContainer.running-dots .dash-item-container > StButton,
#dashtodockContainer.dashtodock .dash-item-container > StButton {
    transition-duration: 250;
    background-size: contain;
}

#dashtodockContainer.shrink .dash-item-container > StButton,
#dashtodockContainer.dashtodock .dash-item-container > StButton {
   padding: 1px 2px;
}

/* Dash height extended to the whole available vertical space */
#dashtodockContainer.extended.top #dash,
#dashtodockContainer.extended.right #dash,
#dashtodockContainer.extended.bottom #dash,
#dashtodockContainer.extended.left #dash {
    border-radius: 0px;
}

#dashtodockContainer.extended.top #dash,
#dashtodockContainer.extended.bottom #dash {
    border-left:0px;
    border-right:0px;
}

#dashtodockContainer.extended.right #dash,
#dashtodockContainer.extended.left #dash {
    border-top:0px;
    border-bottom:0px;
}

/* Running and focused application style */
#dashtodockContainer.running-dots .app-well-app  .overview-icon,
#dashtodockContainer.dashtodock .app-well-app  .overview-icon {
    background-color: #fff;
    border: 2px solid rgba(48,48,48,0.75);
    background-image:none;
    /*border-radius: 40px;*/
    padding: 8px;
    margin: 4px;
    /*margin-bottom: 10px;*/
}

#dashtodockContainer.running-dots .app-well-app.focused  .overview-icon,
#dashtodockContainer.dashtodock .app-well-app.focused  .overview-icon {
    /*background-color: #A9DEF9;*/
    /*background-color: #57B8FF;*/
    /*background-color: #D4CDC3;*/
    /*background-color: #D4E09B;*/
    /*background-color: #F5D547;*/
    /*background-color: #FFDB4A;*/
    /*background-color: #F5CB5C;*/
    /*background-color: #FAC05E;*/
    /*background-color: #DBE064;*/
    /*background-color: #FCE279;*/
    /*background-color: #7CCAFB;*/
    /*background-color: #a6caf0;*/
    /*background-color: #99D17B;*/
    /*background-color: #ABDAB6;*/
    /*background-color: #fba93d;*/
    /*background-color: #C0DA74;*/
    /*background-color: #9DE27C;*/
    /*background-color: #b8e5fa;*/
    /*background-color: #b1cb36;*/
    /*background-color: #afe85e;*/
    /*background-color: #aed581;*/
    /*background-color: #FFFF82;*/
    /*background-color: #B5E2FA;*/
    /*background-color: #FFCA3A;*/
    background-color: #FCFF4B;

    /*background-color: pink;*/
    /*background-color:rgba(193,193,193,1);*/
    background-image:none;
    border: 2px solid rgba(48,48,48,0.75);
    /*border-radius: 40px;*/
    padding: 8px;
    margin: 4px;
    /*margin-bottom: 10px;*/
}

#dashtodockContainer.dashtodock #dash {
    background-color: #f1f1f1;

    /*background-image: url("backgrounds/current.jpg");*/
    /*background-position: 0px -32px;*/
    /*margin-right: 1px;*/
   	border: 1px solid rgba(213,213,213,1.0);

}
