.window-frame {
	border-radius: 0;
	/*border-left: 10px solid #ffbb7c;*/
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

.window-frame.maximized {

}

.titlebar {
	border-radius: 0;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
}

.header-bar {
  background-image: none;
  /*background-color: #F9DC5C;*/
  /*background-color: rgb(251,255,241);*/
  background-color: #70D6FF;
  box-shadow: none;
}


/*
 3C91E6 - bleu de france
 70D6FF - maya blue
 F9DC5C
 54eaff
 27e1fc
 d9ff7c
d1cfce
c8c8c5
5dc4e6


.window-frame {
	border: 20px solid #ccf466;
	border-radius: 0;
}

.titlebar {
	border-left: 20px solid #ccf466;
	border-right: 20px solid #ccf466;
}

.header-bar {
  background-image: none;
  background-color: #ccf466;
  box-shadow: none;
}




.window-frame {
	border: 20px solid #ffdd77;
	border-radius: 0;
}

.titlebar {
	border-left: 20px solid #ffdd77;
	border-right: 20px solid #ffdd77;
}

.header-bar {
  background-image: none;
  background-color: #ffdd77;
  box-shadow: none;
}


.window-frame {
	border: 20px solid #ffd454;
	border-radius: 0;
}

.titlebar {
	border-top: 20px solid #ffd454;
	border-left: 20px solid #ffd454;
	border-right: 20px solid #ffd454;
}

.header-bar {
  background-image: none;
  background-color: #ffd454;
  box-shadow: none;
}


 .window-frame {
	border: 10px solid #ffd454;
	border-radius: 0;
	padding: 4px;
	margin: 4px;
}

.titlebar {
	border-top: 10px solid #ffd454;
	border-left: 10px solid #ffd454;
	border-right: 10px solid #ffd454;
	padding: 4px;
	margin: 4px;
}

.header-bar {
  background-image: none;
  background-color: #ffd454;
  box-shadow: none;
}




 .window-frame {
	border: 10px solid white;
	border-radius: 0;
    margin: 10px;
	padding: 10px;
}

.titlebar {
	border-top: 10px solid white;
	border-left: 10px solid white;
	border-right: 10px solid white;
	margin: 10px;
	padding: 10px;
}

.header-bar {
  background-image: none;
  background-color: white;
  color: #dddddd;
  box-shadow: none;
}



 .window-frame.maximized {
	border-radius: 0;
	border: 10px solid black;
    margin: 10px;
	padding: 10px;
}

.maximized .titlebar {
	border-top: 10px solid black;
	border-left: 10px solid black;
	border-right: 10px solid black;
	margin: 10px;
	padding: 10px;
}


.window-frame, .window-frame:backdrop {
 box-shadow: 0 0 0 black;
 border-style: none;
 margin: 0;
 border-radius: 0;
}
* 
.window-frame.csd.popup {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13);
}

.header-bar {
  background-image: none;
  background-color: #1e1e1e;
  color: #dddddd;
  box-shadow: none;
}

GtkLabel.title {
    opacity: 0;
}



GtkWindow {
	border: 10px solid black;
}

GtkFrame {
	border: 10px solid black;
}

.window-frame {
	border: 10px solid black;
	box-shadow: none;
}

.window-frame.titlebar {
    border-radius: 0;
	border: 2px solid #1e1e1e;
	margin: 10px;
	padding: 10px;
}

box-shadow: none;

.window-frame.maximized {
	border: 2px solid #1e1e1e;
	margin: 10px;
	padding: 10px;
}

.window-frame.maximized.titlebar {
    border-radius: 0;
	border: 2px solid #1e1e1e;
	margin: 10px;
	padding: 10px;
}

.window .maximized .titlebar {
    border-radius: 0;
}

.window .maximized {
    border-radius: 0;
    border: 10px solid black;
}
* 
*/
