
GtkWindow {
	padding: 14px;
}

.window-frame {
	padding: 20px;
}

.window-frame.maximized {
	border-radius: 0;
	border-left: 1px solid #c0ccd4;
}

.maximized .titlebar {
	border-radius: 0;
	border-top: 1px solid #c0ccd4;
	border-left: 1px solid #c0ccd4;	
}
